# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Jeremy Murphy
name: Fix Formatting

on:
  workflow_dispatch:

jobs:
  fix-formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run clang-format
        run: |
          cmake --build --preset=clang-debug --target=format-fix
          git add .
          
          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git commit -m "Ran clang-format."
          git push origin "${GITHUB_REF_NAME}"
          echo "Committed format fixes."
          
